/*
 * File: proj4CorrelEnglishBogatyrev.Main.css
 * Names: Cassidy Correl, Nick English, Philipp Bogatyrev
 * Class: CS361
 * Project 4
 * Date: 2/28/2022
 */

/* Style the Hello button */
#hello {
	-fx-background-color: #90EE90; 
	-fx-border-radius: .25em; 
	-fx-background-radius: .25em; 
	-fx-border-color: #000000;
}

/* Style the Goodbye button */
#goodbye{
	-fx-background-color: #FFC0CB; 
	-fx-border-radius: .25em; 
	-fx-background-radius: .25em;  
	-fx-border-color: #000000;
}